$grad_start: #7a6181;
$grad_end: #6B8C60;
$text_color: #d2e1e1;

nav {
    padding: 60px 30px 0px 30px;
    flex: var(--sidebar-flex);
    background: $grad_start;
    background: linear-gradient(45deg, $grad_start 50%, $grad_end 80%);
}

a {
    color: $text_color;
}

nav {
    ul {
        font-size: var(--fontsize-nav);
        text-align: center;
        list-style-type: none;
        text-decoration: none;
    }
}
nav ul li {
    margin: 40px;
}

.active {
    font-weight: bolder;
    font-size: x-large;
}
