@import "./components/navbar";
@import './styles/custom';

@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,500,700&display=swap");
:root {
    --sidebar-flex: 1.5;
    --condiv-flex: 6;
    --fontsize-p: 1.2rem;
    --fontsize-nav: 1.6rem;
    --typing-font: 3rem;
}


.nav-bar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    min-height: 100vh !important;
    z-index: 100;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    margin-left: -1rem;
    min-height: 100vh !important;

}
#sidebar-wrapper{
    min-height: 100vh !important;
    width: 100vw;
    margin-left: -1rem;
    // -webkit-transition: margin .25s ease-out;
    // -moz-transition: margin .25s ease-out;
    // -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
}
#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#page-content-wrapper {
    min-width: 0;
    width: 100%;
}


body {
    font-family: "Raleway";
}

